<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>TFG AN AD</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS -->
    <link type='text/css' href="{% static 'css\styles.css' %}" rel="stylesheet">

</head>

<body class="text-center w-100 vh-100">

    <div class="float-start m-3">
        <a href="{% url 'welcome' %}"><img src="{% static 'imgs/goback.png' %}" alt="Go back"
                style="width:50px;height:40px;"></a>
    </div>

    <div class="login-box mx-auto">

        <h2 style="color:tomato;">El reconocedor actual se borrará y podrás entrenar uno nuevo</h2>
        <h3 style="color:whitesmoke;">Para continuar escriba la contraseña actual</h3>


        <form action="{% url 'confirmCreateRecognizer' %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
            <div class="user-box">
                {{field}}
                {{field.label_tag}}
            </div>
            {% endfor %}

            <div class="user-button">
                <button type="submit" class="justify-content-center submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Continuar
                </button>
            </div>
        </form>
    </div>

</html>