{% extends "common.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="login-box mx-auto">

  <h2>Reconocimiento Facial</h2>

  <h2>{{email}}</h2>

  <a href="#">
    <div class="camera-area" id="radiotfoto">
      <div id="withCameraPic">
        <img class="camera-img" src="{% static 'imgs/camera.png' %}" alt="Camera pic">
        <p class="pr-4 camera-div-text">Click aquí para empezar<p>
      </div>
      <div id="withOutCameraPic" class="none">
        <div class="container_radio">
          <video id="video" autoplay="autoplay" class="video_container none"></video>
        </div>
        <canvas id="canvas" class="none"></canvas>
        <p id="loading" class="text-info"></p>
        <a class="btn btn-primary btn-sm mb-3" type="submit" id="btn_start">Empezar</a>
      </div>
    </div>
  </a>

  <a href="{% url 'welcome' %}" id="end"  class="justify-content-center submit">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Omitir
  </a>
</div>
</div>

<script src="{% static 'js/camera_register.js' %}"></script>

{% endblock %}