{% extends "common.html" %}
{% load static %}
{% block content %}


<div class="login-box">

  <h2>Login</h2>
  
  <form action="{% url 'login1' %}" method='POST'> 
      {% csrf_token %}
      
      <p class="change-form">
        ¿No tienes cuenta? <a  href="{% url 'register' %}"> Regístrate</a>
      <p> 
      
      <p class="change-form">
        ¿Quiere iniciar sesión usando<a  href="{% url 'login2' %}"> contraseña</a> ?
      <p>
        
      <div class="user-button">
        <button type="submit" class="justify-content-center submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </div>
    </form>
  </div>

{% endblock %}