{% extends "common.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="login-box mx-auto">

  <h2>Register</h2>

  <h2>{{email}}</h2>

  <a href="{% url 'register3' %}">
    <div class="camera-area" id="radiotfoto">
      
      <img class="camera-img" src="{% static 'imgs/camera.png' %}" alt="Camera pic">
      <p class="pr-4 camera-div-text">Click aquí para empezar<p>
      
    </div>
  </a>

  <!-- TODO: convertir estos en un solo boton y que cambie el texto en el js -->

  <div class="user-button hidden">
    <a href="{% url 'welcome' %}" id="ommit" class="justify-content-center submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Omitir
    </a>   
  </div>
</div>

{% endblock %}