{% extends "common.html" %}
{% load static %}
{% block content %}

<div class="login-box">

    <h2>Register</h2>
    
    <form action="{% url 'welcome' %}" method='POST'> 
      {% csrf_token %}
      
      <a href="#">
        <div class="camera-area border ">
          <img class="camera-img" src="{% static 'imgs/camera.png' %}" alt="Camera pic" >
          <p class="pr-4 camera-div-text mx-auto">Click aquí para empezar <p>
        </div>
      </a>

      <label class="remeber-user">
        <input type="checkbox" id="cbox1" value="first_checkbox">
        Acepto todos los términos y condiciones
      </label>

      <p class="change-form">
        ¿Ya tienes cuenta? <a  href="{% url 'login1' %}"> Inicia sesión</a>
      <p> 
      
      <div class="user-button">
        <button type="submit" class="justify-content-center submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </div>
  </form>
</div>

<script src="{% static 'js/camera.js' %}"></script>

{% endblock %}