{% extends "common.html" %}
{% load static %}
{% block content %}

<div class="login-box">

    <h2>Register</h2>

    <h2>{{email}}</h2>
    
    <form action="{% url 'register2' %}" method='POST'> 
      {% csrf_token %}
      
      <a href="#">
        <div class="camera-area border ">
          <img class="camera-img" src="{% static 'imgs/camera.png' %}" alt="Camera pic" >
          <p class="pr-4 camera-div-text mx-auto">Click aquí para empezar <p>
        </div>
      </a>
      
      <div class="user-button">
        <button type="submit" class="justify-content-center submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Finalizar
        </button>
    </div>
  </form>
</div>

<script src="{% static 'js/camera.js' %}"></script>

{% endblock %}