{% extends "common.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="login-box mx-auto">

  <h2>Register</h2>

  <h2>{{email}}</h2>

  <a href="#">    
      <!-- VER DND PONER LO DE TURN_OFF CAMARA EN EL JS -->
      <div class="camera-area" id="radiotfoto">
        <div class="container_radio">
          <video id="video" autoplay="autoplay" class="video_container"></video>
        </div>
        <canvas id="canvas" class="none"></canvas>
        {% if repeat %}
          <a class="btn btn-primary btn-sm mb-3" type="submit" id="btn_start">No te pilla por feo</a>
        {% else %}
          <a class="btn btn-primary btn-sm mb-3" type="submit" id="btn_start">Empezar</a>
        {% endif %}

        <p id="loading" class="text-info"></p>
    </div>    
  </a>

  <!-- TODO: convertir estos en un solo boton y que cambie el texto en el js -->
    <a href="{% url 'welcome' %}" id="end"  class="justify-content-center submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Omitir
    </a>
  </div>
</div>

<script src="{% static 'js/camera.js' %}"></script>

{% endblock %}