{% extends "common.html" %}
{% load static %}
{% block content %}

<div class="login-box mx-auto">

  <h2>Register</h2>

  <form action="{% url 'register1' %}" method='POST'>
    {% csrf_token %}

    {% for field in form %}
    <div class="user-box">
      {{field}}
      {{field.label_tag}}
    </div>
    {% endfor %}

    <label class="remeber-user">
      <input type="checkbox" id="field_terms" value="first_checkbox" required>
      Acepto todos los <u>Términos y Condiciones</u>
    </label>

    <p class="change-form">
      ¿Ya tienes cuenta? <a  href="{% url 'login1' %}"> Inicia sesión</a>
    <p>

    <div class="user-button">
      <button type="submit" class="justify-content-center submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Siguiente
      </button>
    </div>
  </form>
</div><!-- TODO: esto da error a veces porque no existe el formulario -->

<script> 
  if(!form.terms.checked)
    document.getElementById("field_terms").setCustomValidity("Necesaria esta acción para continuar.");
</script>

{% endblock %}