<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>TFG AN AD</title> <!-- esto no se si hace algo realmente -->
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" >
        <!-- CSS -->
        <link href="{% static '/imgs/style.css' %}" rel="stylesheet" >
    </head>
    <body class="align-items-center justify-content-center" style="background-image:url( 'https://wallpaperaccess.com/full/3304562.jpg' );">
        
        <h1 class="text-center">Reconocimiento Facial</h1>          
               
        
        {% block content %} 
            
        {% endblock %}
        
    </body>
</html>