{% extends "common.html" %}

{% block content %}

<h1 class="text-center">Estos es REGISTRO 2</h1> 

{% comment %} <form action='//' method='GET'>
    <input type="password" name="pass1" value="Default"><br>
    <input type="password" name="pass2" value="Default"><br>
    <input type='submit' value='next_step'>
</form> {% endcomment %}

{% if form.errors %}
    <p style="color:red;"> Revisa este campo</p>
{% endif %}

<h1 class="text-center">Hola {{ username }} </h1> 

<form action='/user_logged/' method='GET'>
    <input type="hidden" name="username" value={{username}} ><br>
    <table>
        {{form.as_table}}
    </table>    
    <input type="hidden" name="mail" value={{ mail}}><br>
    <input type='submit' value='Enviar'>
</form>

{% endblock %}